<div class="card">
    <div class="card-body">
    <h6 class="card-subtitle">{{cmt_text}}<h6>
    <p class="card-text">- {{user.usr_name}} | posted on: {{format_date created_at}}</p>
    </div>
</div>
