<div class="column" id="create-post">
    <form class="create-post-form">
        <div>
            <label for="post-title" class="label">Title</label>
            <input class="input" type="text" id="create-post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-content" class="label">Post Content</label>
            <textarea class="textarea" type="text" id="create-post-content" name="post-content"/>
        </div>
        <button type="submit" class="button" id="btn-post-submit">Create</button>
    </form>
</div>
<script src="/js/create-post.js"></script>