<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-2" id="menu-div">
            <div class="card">
                <button type="submit" id="btn-create" class="btn btn-none list-group-item bg-info">Create Post</button>
                <button type="submit" id="btn-myPosts" class="btn btn-none list-group-item bg-info mt-2">My Posts</button>
                <button type="submit" id="btn-editProfile" class="btn btn-none list-group-item bg-info mt-2">Edit Profile</button>
            </div>
        </div>
        <div class="col-10 d-none" id="create-div">
            <div class="container" id="profile-create-post">
                {{> create-post}}
            </div>
        </div>
        <div class="col-10 d-none" id="posts-div">
            {{#if posts.length}}
            <h2 class="title mb-3">Your Posts</h2>
            <div class="list-group mt-1" id="profile-posts-box">
                {{#each posts as |onePost|}}
                <div>
                    {{> post onePost}}
                    <a href="/dashboard/edit/{{onePost.pst_id}}" class="btn btn-info mt-2 mb-4">Edit Post</a>
                </div>
                {{/each}}
            </div>
            {{else}}
            <h2 class="title">No posts to show!</h2>
            {{/if}}
        </div>
    <div class="col-10" id="profile-div">
        <h2 class="title mb-3">External Profiles - Coming Soon</h2>
        <div class="d-flex flex-row mr-5 d-flex mb-2">
            <h5 for="gh-profile" class="w-25 mt-1 mr-2">Github Username:</h5>
            <input class="form-control w-50" type="text" id="gh-profile" value="{{usr_github}}"/>
            <button type="submit" class="btn btn-info ml-2 disabled" id="btn-update-gh">Update</button>
        </div>
        <div class="d-flex flex-row mr-5 d-flex mb-2">
            <h5 for="tw-profile" class="w-25 mt-1 mr-2">Twitter Username:</h5>
            <input class="form-control w-50" type="text" id="tw-profile" />
            <button type="submit" class="btn btn-info ml-2 disabled" id="btn-update-tw">Update</button>        
        </div>
        <div class="d-flex flex-row mr-5 d-flex mb-2">
            <h5 for="so-profile" class="w-25 mt-1 mr-2">StackOverflow Username:</h5>
            <input class="form-control w-50 disabled" type="text" id="so-profile" />
            <button type="submit" class="btn btn-info ml-2 disabled" id="btn-update-so">Update</button>        
        </div>
        <div class="d-flex flex-row mr-5 d-flex mb-2">
            <h5 for="pf-profile" class="w-25 mt-1 mr-2">Portfolio Link:</h5>
            <input class="form-control w-50" type="text" id="pf-profile" />
            <button type="submit" class="btn btn-info ml-2 disabled" id="btn-update-pf">Update</button>        
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>