<div class="column">
    <h2 class="title">Login:</h2>
    <form class="login-form">
        <div>
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="text" id="password-login" />
        </div>
        <div>
            <button type="submit" id="btn-login" class="button">Login</label>
        </div>
    </form>
</div>
<div class="column">
    <h2 class="title">Sign up:</h2>
    <form class="login-form">
        <div>
            <label for="email-signup">Email (required):</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="name-signup">Name (required):</label>
            <input type="text" id="name-signup" />
        </div>
        <div>
            <label for="gh-signup">Github Username (optional):</label>
            <input type="text" id="gh-signup" />
        </div>
        <div>
            <label for="tw-signup">Twitter Username (optional):</label>
            <input type="text" id="tw-signup" />
        </div>
        <div>
            <label for="so-signup">StackOverflow Username (optional):</label>
            <input type="text" id="tw-signup" />
        </div>
        <div>
            <label for="pf-signup">Portfolio Link (optional):</label>
            <input type="text" id="pf-signup" />
        </div>
        <div>
            <label for="password-signup">Password (required, 8 character minimum):</label>
            <input type="text" id="password-signup" />
        </div>
        <div>
            <button type="submit" id="btn-signup" class="button">Sign Up!</label>
        </div>
    </form>
</div>